# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
.env
.venv
*.egg-info/
dist/
build/

# Логи
*.log
*.pid
*.pid.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# OS
Thumbs.db
.DS_Store

# Docker
docker-compose.override.yml

# бд
*.db
*.sqlite
*.sqlite3

# важн
.env.local
.env.production
config.local.py